@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

body {
  background: linear-gradient(100deg, #402, rgb(4, 95, 155));
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Make the children elements stack vertically */
  align-items: center; /* Center children horizontally */
  padding-top: 40px;
  margin-bottom:0px;
  overflow-y: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 460 55'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23fff' stroke-width='7' opacity='.1'%3E%3Cpath d='M-345 34.5s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 48.3 0 48.3s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 20.7s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 34.5 0 34.5s115-13.8 115-13.8S172.5 6.9 230 6.9s115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8m-920 27.6s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 62.1 0 62.1s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 6.9s57.5-13.8 115-13.8S-115 6.9-115 6.9-57.5 20.7 0 20.7 115 6.9 115 6.9 172.5-6.9 230-6.9 345 6.9 345 6.9s57.5 13.8 115 13.8S575 6.9 575 6.9'/%3E%3Cpath d='M-345-6.9s57.5-13.8 115-13.8S-115-6.9-115-6.9-57.5 6.9 0 6.9 115-6.9 115-6.9s57.5-13.8 115-13.8S345-6.9 345-6.9 402.5 6.9 460 6.9 575-6.9 575-6.9m-920 69s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 75.9 0 75.9s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3C/g%3E%3C/svg%3E%0A"),
    linear-gradient(80deg, rgb(60, 6, 94), rgb(22, 190, 176));
  background-position: 50% 50%;
  animation: background-move 10s linear infinite;
  background-size: 100vw auto, 100% 100%;
  background-size: unquote('max(100vw, 30em)') auto, 100% 100%;

}


@keyframes background-move {
  0% { background-position: 0 0, 0 0; }
  100% { 
    background-position: 100vw 0, 0 0;
    background-position: unquote('max(100vw, 40em)')  0, 0 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container{
  display: flex;
}


.info {
  display: flex;
  position: absolute;
  top: 210px;
  margin-left: 222px;
  border: 0px solid rgba(255, 252, 252, 1);
  border-radius: 3px;
  background: linear-gradient(
    80deg,
    rgba(255, 255, 255, 0.4) 12%,
    rgba(255, 255, 255, 0.1) 77%
  );
  background-blend-mode: lighten;
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.info h4{
  font: size 12px;;
  color: #ffffff;
}
.info span{
  color: #ffffff;
}
.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border-radius:10px;
    background-image: linear-gradient( 95.3deg, rgb(120, 220, 197) 26.8%, rgb(112, 196, 235) 64% )
}

.grid div {
    height: 20px;
    width:  20px;  
    top: 50%; 
}

.mini-grid{
    margin-left: 20px;
    width:  80px;
    height: 80px;
    display: flex;
    flex-wrap:wrap;
    border-radius:10px;
    background-image: linear-gradient( 95.3deg, rgb(120, 220, 197) 26.8%, rgb(112, 196, 235) 64% );
}

.mini-grid div{
  height: 20px;
  width: 20px; 
}

.tetromino {
  background-color: blueviolet;
  box-shadow: 0 -2px 0 3px #0b080f inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 75px;
  width: 75px;
}

.tetromino:hover {
background: #d9cedb;
box-shadow: 0 -2px 0 3px #e1dae3 inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}

.wrap {
    height: 100%;
    display: flex;
    position: absolute;
    top: 155px;
    margin-left: 210px;
} 

/* 
.res-btn{
  height: 100%;
    display: flex;
    position: absolute;
    top: 255px;
    margin-left: 210px;
} */

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ffffff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
}

  
.button:hover {
    background-color: #2cdbcc;
    box-shadow: 0px 15px 20px rgba(26, 226, 196, 0.909);
    color: #fff;
    transform: translateY(-7px);
} 

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(266, 68%, 44%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(204, 14%, 86%, 0);
  }
  
}

h2 {
  margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}


